:root {
  --color-text: #262626;
  --color-text-primary: #000000;
  --color-text-accent: #ffffff;
  --color-bg-module: #f7f7f7;
  --color-accent: #ff3535;
  --color-bg-aside: #2d2c2a;
}

$mobile: 375px;
$desktop: 1440px;
